
 .btnContainer{
  width: 300px;
 }
 button{
  height: 50px;
 }
 input{
  height: 50px;
  width: 293px;
  text-align: right;
  font-size: 30px;
  background-color: black;
  color: white;
}
.part_1{
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.part_2{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr; 
}
.part_3{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr; 
}

.part_4{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr; 
}

.part_5{
  display: grid;
  grid-template-columns: 3fr 1fr ; 
}